In [132]:
import pandas as pd
import numpy as np

In [133]:
cell_phone=pd.read_csv('https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv')
population=pd.read_csv('https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv')
geo_country=pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')

In [134]:
cell_phone

           Country  year  cell_phones_total
0      Afghanistan  1960                0.0
1      Afghanistan  1961                0.0
2      Afghanistan  1962                0.0
3      Afghanistan  1963                0.0
4      Afghanistan  1964                0.0
5      Afghanistan  1965                0.0
6      Afghanistan  1966                0.0
7      Afghanistan  1967                0.0
8      Afghanistan  1968                0.0
9      Afghanistan  1969                0.0
10     Afghanistan  1970                0.0
11     Afghanistan  1971                0.0
12     Afghanistan  1972                0.0
13     Afghanistan  1973                0.0
14     Afghanistan  1974                0.0
15     Afghanistan  1975                0.0
16     Afghanistan  1976                0.0
17     Afghanistan  1977                0.0
18     Afghanistan  1978                0.0
19     Afghanistan  1979                0.0
20     Afghanistan  1980                0.0
21     Afghanistan  1981                0.0
22     Afghanistan  1982                0.0
23     Afghanistan  1983                0.0
24     Afghanistan  1984                0.0
25     Afghanistan  1985                0.0
26     Afghanistan  1986                0.0
27     Afghanistan  1987                0.0
28     Afghanistan  1988                0.0
29     Afghanistan  1989                0.0
...            ...   ...                ...
11610     Zimbabwe  1990                0.0
11611     Zimbabwe  1991                0.0
11612     Zimbabwe  1992                0.0
11613     Zimbabwe  1993                0.0
11614     Zimbabwe  1994                0.0
11615     Zimbabwe  1995                0.0
11616     Zimbabwe  1996                0.0
11617     Zimbabwe  1997             5730.0
11618     Zimbabwe  1998            19000.0
11619     Zimbabwe  1999           174000.0
11620     Zimbabwe  2000           266000.0
11621     Zimbabwe  2001           314000.0
11622     Zimbabwe  2002           339000.0
11623     Zimbabwe  2003           364000.0
11624     Zimbabwe  2004           426000.0
11625     Zimbabwe  2005           647000.0
11626     Zimbabwe  2006           849000.0
11627     Zimbabwe  2007          1230000.0
11628     Zimbabwe  2008          1650000.0
11629     Zimbabwe  2009          3990000.0
11630     Zimbabwe  2010          7700000.0
11631     Zimbabwe  2011          9200000.0
11632     Zimbabwe  2012         12600000.0
11633     Zimbabwe  2013         13600000.0
11634     Zimbabwe  2014         11800000.0
11635     Zimbabwe  2015         12800000.0
11636     Zimbabwe  2016         12900000.0
11637     Zimbabwe  2017         14100000.0
11638     Zimbabwe  2018         12900000.0
11639     Zimbabwe  2019         13200000.0

[11640 rows x 3 columns]

In [135]:
df=pd.merge(cell_phone,population,'inner',on=['year','Country'])
#cell_phone.

In [136]:
geo_country=geo_country.rename(columns={"country":"geo","name":"Country"})
geo_country

,geo,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,longitude,main_religion_2008,Country,un_sdg_ldc,un_sdg_region,un_state,unicef_region,unicode_region_subtag,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Abkhazia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,-69.96667,christian,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AW,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,66.00000,muslim,Afghanistan,un_least_developed,un_central_and_southern_asia,True,sa,AF,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,18.50000,christian,Angola,un_least_developed,un_sub_saharan_africa,True,ssa,AO,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,-63.05000,christian,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,AI,americas,america
5,akr_a_dhe,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,Akrotiri and Dhekelia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
6,ala,others,NaN,NaN,True,AX,ALA,248.0,NaN,coastline,...,20.00000,NaN,Åland,un_not_least_developed,un_europe_and_northern_america,False,NaN,AX,europe,europe_central_asia
7,alb,others,middle_income,upper_middle_income,True,AL,ALB,8.0,NaN,coastline,...,20.00000,muslim,Albania,un_not_least_developed,un_europe_and_northern_america,True,eca,AL,europe,europe_central_asia
8,and,others,high_income,high_income,True,AD,AND,20.0,NaN,landlocked,...,1.52109,christian,Andorra,un_not_least_developed,un_europe_and_northern_america,True,eca,AD,europe,europe_central_asia
9,ant,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,Netherlands Antilles,NaN,NaN,False,NaN,NaN,americas,america
10,are,g77,high_income,high_income,True,AE,ARE,784.0,NaN,coastline,...,54.50000,muslim,United Arab Emirates,un_not_least_developed,un_northern_africa_and_western_asia,True,mena,AE,asia,middle_east_north_africa
11,arg,g77,middle_income,upper_middle_income,True,AR,ARG,32.0,NaN,coastline,...,-64.00000,christian,Argentina,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,AR,americas,america
12,arm,others,middle_income,upper_middle_income,True,AM,ARM,51.0,NaN,landlocked,...,45.00000,christian,Armenia,un_not_least_developed,un_northern_africa_and_western_asia,True,eca,AM,europe,europe_central_asia
13,asm,others,middle_income,upper_middle_income,True,AS,ASM,16.0,NaN,coastline,...,-171.08200,christian,American Samoa,un_not_least_developed,un_oceania_exc_australia_and_new_zealand,False,NaN,AS,asia,east_asia_pacific
14,ata,NaN,NaN,NaN,True,AQ,ATA,10.0,NaN,NaN,...,0.00000,NaN,Antarctica,un_not_least_developed,NaN,False,NaN,AQ,europe,NaN
15,atg,g77,high_income,high_income,True,AG,ATG,28.0,NaN,coastline,...,-61.80000,christian,Antigua and Barbuda,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,AG,americas,america
16,aus,oecd,high_income,high_income,True,AU,AUS,36.0,NaN,coastline,...,135.00000,christian,Australia,un_not_least_developed,un_australia_and_new_zealand,True,eap,AU,asia,east_asia_pacific
17,aut,oecd,high_income,high_income,True,AT,AUT,40.0,NaN,landlocked,...,13.33333,christian,Austria,un_not_least_developed,un_europe_and_northern_america,True,eca,AT,europe,europe_central_asia
18,aze,others,middle_income,upper_middle_income,True,AZ,AZE,31.0,NaN,landlocked,...,47.50000,muslim,Azerbaijan,un_not_least_developed,un_northern_africa_and_western_asia,True,eca,AZ,europe,europe_central_asia
19,bdi,g77,low_income,low_income,True,BI,BDI,108.0,NaN,landlocked,...,30.00000,christian,Burundi,un_least_developed,un_sub_saharan_africa,True,ssa,BI,africa,sub_saharan_africa
20,bel,oecd,high_income,high_income,True,BE,BEL,56.0,NaN,coastline,...,4.50000,christian,Belgium,un_not_least_developed,un_europe_and_northern_america,True,eca,BE,europe,europe_central_asia
21,ben,g77,low_income,low_income,True,BJ,BEN,204.0,NaN,coastline,...,2.25000,NaN,Benin,un_least_developed,un_sub_saharan_africa,True,ssa,BJ,africa,sub_saharan_africa
22,bfa,g77,low_income,low_income,True,BF,BFA,854.0,NaN,landlocked,...,-1.66667,muslim,Burkina Faso,un_least_developed,un_sub_saharan_africa,True,ssa,BF,africa,sub_saharan_africa
23,bgd,g77,middle_income,lower_middle_income,True,BD,BGD,50.0,NaN,coastline,...,90.00000,muslim,Bangladesh,un_least_developed,un_central_and_southern_asia,True,sa,BD,asia,south_asia
24,bgr,others,middle_income,upper_middle_income,True,BG,BGR,100.0,NaN,coastline,...,25.25000,christian,Bulgaria,un_not_least_developed,un_europe_and_northern_america,True,eca,BG,europe,europe_central_asia
25,bhr,g77,high_income,high_income,True,BH,BHR,48.0,NaN,coastline,...,50.55000,muslim,Bahrain,un_not_least_developed,un_northern_africa_and_western_asia,True,mena,BH,asia,middle_east_north_africa
26,bhs,g77,high_income,high_income,True,BS,BHS,44.0,NaN,coastline,...,-77.37122,christian,Bahamas,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,BS,americas,america
27,bih,g77,middle_income,upper_middle_income,True,BA,BIH,70.0,NaN,coastline,...,17.83333,NaN,Bosnia and Herzegovina,un_not_least_developed,un_europe_and_northern_america,True,eca,BA,europe,europe_central_asia
28,blr,others,middle_income,upper_middle_income,True,BY,BLR,112.0,NaN,landlocked,...,28.00000,christian,Belarus,un_not_least_developed,un_europe_and_northern_america,True,eca,BY,europe,europe_central_asia
29,blz,g77,middle_income,upper_middle_income,True,BZ,BLZ,84.0,NaN,coastline,...,-88.19756,christian,Belize,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,BZ,americas,america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,ton,g77,middle_income,upper_middle_income,True,TO,TON,776.0,NaN,coastline,...,-175.00000,christian,Tonga,un_not_least_developed,un_oceania_exc_australia_and_new_zealand,True,eap,TO,asia,east_asia_pacific
244,transn,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Transnistria,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
245,tto,g77,high_income,high_income,True,TT,TTO,780.0,NaN,coastline,...,-61.00000,christian,Trinidad and Tobago,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,TT,americas,america
246,tun,g77,middle_income,lower_middle_income,True,TN,TUN,788.0,NaN,coastline,...,9.00000,muslim,Tunisia,un_not_least_developed,un_northern_africa_and_western_asia,True,mena,TN,africa,middle_east_north_africa
247,tur,oecd,middle_income,upper_middle_income,True,TR,TUR,792.0,NaN,coastline,...,35.00000,muslim,Turkey,un_not_least_developed,un_northern_africa_and_western_asia,True,eca,TR,europe,europe_central_asia
248,tuv,others,middle_income,upper_middle_income,True,TV,TUV,798.0,NaN,coastline,...,179.14478,christian,Tuvalu,un_least_developed,un_oceania_exc_australia_and_new_zealand,True,eap,TV,asia,east_asia_pacific
249,twn,others,high_income,high_income,True,TW,TWN,158.0,NaN,coastline,...,121.00000,eastern_religions,Taiwan,un_not_least_developed,un_eastern_and_south_eastern_asia,False,NaN,TW,asia,east_asia_pacific
250,tza,g77,low_income,low_income,True,TZ,TZA,834.0,NaN,coastline,...,35.00000,christian,Tanzania,un_least_developed,un_sub_saharan_africa,True,ssa,TZ,africa,sub_saharan_africa
251,uga,g77,low_income,low_income,True,UG,UGA,800.0,NaN,landlocked,...,32.50000,christian,Uganda,un_least_developed,un_sub_saharan_africa,True,ssa,UG,africa,sub_saharan_africa
252,ukr,others,middle_income,lower_middle_income,True,UA,UKR,804.0,NaN,coastline,...,32.00000,christian,Ukraine,un_not_least_developed,un_europe_and_northern_america,True,eca,UA,europe,europe_central_asia
253,ury,g77,high_income,high_income,True,UY,URY,858.0,NaN,coastline,...,-56.00000,christian,Uruguay,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,UY,americas,america
254,usa,oecd,high_income,high_income,True,US,USA,840.0,NaN,coastline,...,-98.50000,christian,United States,un_not_least_developed,un_europe_and_northern_america,True,na,US,americas,america
255,usa_minor_out_isl,NaN,NaN,NaN,True,UM,UMI,581.0,US-UM,NaN,...,NaN,NaN,US Minor Outlying Islands,un_not_least_developed,un_oceania_exc_australia_and_new_zealand,False,NaN,UM,americas,NaN
256,ussr,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,USSR,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
257,uzb,others,middle_income,lower_middle_income,True,UZ,UZB,860.0,NaN,landlocked,...,63.83333,muslim,Uzbekistan,un_not_least_developed,un_central_and_southern_asia,True,eca,UZ,asia,europe_central_asia
258,vct,g77,middle_income,upper_middle_income,True,VC,VCT,670.0,NaN,coastline,...,-61.20000,christian,St. Vincent and the Grenadines,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,VC,americas,america
259,ven,g77,middle_income,upper_middle_income,True,VE,VEN,862.0,NaN,coastline,...,-66.00000,christian,Venezuela,un_not_least_developed,un_latin_america_and_the_caribbean,True,lac,VE,americas,america
260,vgb,others,high_income,high_income,True,VG,VGB,92.0,NaN,coastline,...,-64.50000,christian,British Virgin Islands,un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,VG,americas,america
261,vir,others,high_income,high_income,True,VI,VIR,850.0,NaN,coastline,...,-64.98348,christian,Virgin Islands (U.S.),un_not_least_developed,un_latin_america_and_the_caribbean,False,NaN,VI,americas,america
262,vnm,g77,middle_income,lower_middle_income,True,VN,VNM,704.0,NaN,coastline,...,107.83333,eastern_religions,Vietnam,un_not_least_developed,un_eastern_and_south_eastern_asia,True,eap,VN,asia,east_asia_pacific
263,vut,g77,middle_income,lower_middle_income,True,VU,VUT,548.0,NaN,coastline,...,167.00000,christian,Vanuatu,un_least_developed,un_oceania_exc_australia_and_new_zealand,True,eap,VU,asia,east_asia_pacific
264,wlf,others,NaN,NaN,True,WF,WLF,876.0,NaN,coastline,...,-176.20000,christian,Wallis et Futuna,un_not_least_developed,un_oceania_exc_australia_and_new_zealand,False,NaN,WF,asia,east_asia_pacific
265,wsm,g77,middle_income,upper_middle_income,True,WS,WSM,882.0,NaN,coastline,...,-172.13333,christian,Samoa,un_not_least_developed,un_oceania_exc_australia_and_new_zealand,True,eap,WS,asia,east_asia_pacific
266,yem,g77,low_income,low_income,True,YE,YEM,887.0,NaN,coastline,...,47.50000,muslim,Yemen,un_least_developed,un_northern_africa_and_western_asia,True,mena,YE,asia,middle_east_north_africa
267,yem_north,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,North Yemen (former),NaN,NaN,False,NaN,NaN,asia,middle_east_north_africa
268,yem_south,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,South Yemen (former),NaN,NaN,False,NaN,NaN,asia,middle_east_north_africa
269,yug,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,NaN,NaN,Yugoslavia,NaN,NaN,False,NaN,NaN,europe,europe_central_asia
270,zaf,g77,middle_income,upper_middle_income,True,ZA,ZAF,710.0,NaN,coastline,...,24.00000,christian,South Africa,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZA,africa,sub_saharan_africa
271,zmb,g77,middle_income,lower_middle_income,True,ZM,ZMB,894.0,NaN,landlocked,...,28.50000,christian,Zambia,un_least_developed,un_sub_saharan_africa,True,ssa,ZM,africa,sub_saharan_africa
272,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,29.75000,christian,Zimbabwe,un_not_least_developed,un_sub_saharan_africa,True,ssa,ZW,africa,sub_saharan_africa

In [137]:
df1=df.merge(geo_country[['geo','Country']],how='inner')
df1

           Country  year  cell_phones_total  population  geo
0      Afghanistan  1960                0.0     9000000  afg
1      Afghanistan  1961                0.0     9170000  afg
2      Afghanistan  1962                0.0     9350000  afg
3      Afghanistan  1963                0.0     9540000  afg
4      Afghanistan  1964                0.0     9740000  afg
5      Afghanistan  1965                0.0     9960000  afg
6      Afghanistan  1966                0.0    10200000  afg
7      Afghanistan  1967                0.0    10400000  afg
8      Afghanistan  1968                0.0    10600000  afg
9      Afghanistan  1969                0.0    10900000  afg
10     Afghanistan  1970                0.0    11200000  afg
11     Afghanistan  1971                0.0    11500000  afg
12     Afghanistan  1972                0.0    11800000  afg
13     Afghanistan  1973                0.0    12100000  afg
14     Afghanistan  1974                0.0    12400000  afg
15     Afghanistan  1975                0.0    12700000  afg
16     Afghanistan  1976                0.0    12900000  afg
17     Afghanistan  1977                0.0    13200000  afg
18     Afghanistan  1978                0.0    13300000  afg
19     Afghanistan  1979                0.0    13400000  afg
20     Afghanistan  1980                0.0    13400000  afg
21     Afghanistan  1981                0.0    13200000  afg
22     Afghanistan  1982                0.0    12900000  afg
23     Afghanistan  1983                0.0    12500000  afg
24     Afghanistan  1984                0.0    12200000  afg
25     Afghanistan  1985                0.0    11900000  afg
26     Afghanistan  1986                0.0    11700000  afg
27     Afghanistan  1987                0.0    11600000  afg
28     Afghanistan  1988                0.0    11600000  afg
29     Afghanistan  1989                0.0    11900000  afg
...            ...   ...                ...         ...  ...
11610     Zimbabwe  1990                0.0    10400000  zwe
11611     Zimbabwe  1991                0.0    10700000  zwe
11612     Zimbabwe  1992                0.0    10900000  zwe
11613     Zimbabwe  1993                0.0    11100000  zwe
11614     Zimbabwe  1994                0.0    11300000  zwe
11615     Zimbabwe  1995                0.0    11400000  zwe
11616     Zimbabwe  1996                0.0    11500000  zwe
11617     Zimbabwe  1997             5730.0    11700000  zwe
11618     Zimbabwe  1998            19000.0    11700000  zwe
11619     Zimbabwe  1999           174000.0    11800000  zwe
11620     Zimbabwe  2000           266000.0    11900000  zwe
11621     Zimbabwe  2001           314000.0    11900000  zwe
11622     Zimbabwe  2002           339000.0    12000000  zwe
11623     Zimbabwe  2003           364000.0    12000000  zwe
11624     Zimbabwe  2004           426000.0    12000000  zwe
11625     Zimbabwe  2005           647000.0    12100000  zwe
11626     Zimbabwe  2006           849000.0    12200000  zwe
11627     Zimbabwe  2007          1230000.0    12300000  zwe
11628     Zimbabwe  2008          1650000.0    12400000  zwe
11629     Zimbabwe  2009          3990000.0    12500000  zwe
11630     Zimbabwe  2010          7700000.0    12700000  zwe
11631     Zimbabwe  2011          9200000.0    12900000  zwe
11632     Zimbabwe  2012         12600000.0    13100000  zwe
11633     Zimbabwe  2013         13600000.0    13400000  zwe
11634     Zimbabwe  2014         11800000.0    13600000  zwe
11635     Zimbabwe  2015         12800000.0    13800000  zwe
11636     Zimbabwe  2016         12900000.0    14000000  zwe
11637     Zimbabwe  2017         14100000.0    14200000  zwe
11638     Zimbabwe  2018         12900000.0    14400000  zwe
11639     Zimbabwe  2019         13200000.0    14600000  zwe

[11640 rows x 5 columns]

In [138]:
no_of_cellphone_per_person=df1['cell_phones_total']/df1['population']

In [149]:
df1["geo"]=df1["geo"].str.upper()
df1.describe()

               year  cell_phones_total    population
count  11640.000000       1.164000e+04  1.164000e+04
mean    1989.500000       7.875722e+06  2.710307e+07
std       17.318846       5.572496e+07  1.086187e+08
min     1960.000000       0.000000e+00  4.380000e+03
25%     1974.750000       0.000000e+00  1.117500e+06
50%     1989.500000       0.000000e+00  5.100000e+06
75%     2004.250000       5.615000e+05  1.590000e+07
max     2019.000000       1.730000e+09  1.430000e+09

In [216]:
#df1[df1["year"]=="2017"].values()
result=df1.groupby('year')
result=result.get_group(2017)
result=result[['Country','cell_phones_total']]
result=result.nlargest(5,'cell_phones_total')
result

             Country  cell_phones_total
2157           China       1.470000e+09
4617           India       1.170000e+09
4677       Indonesia       4.350000e+08
11157  United States       4.000000e+08
8577          Russia       2.270000e+08